@import "tailwindcss";

@keyframes customMove {
    0% {
      left: 70%;
      top: 25%;
    }
    100% {
      left: 60%;
      top: 35%;
    }
  }
  
  .custom-move {
    animation: customMove 4s infinite alternate linear;
    position: absolute; /* Required for left/top positioning */
  }

  @keyframes custom {
    0% {
      left: 50%;
      top: 45%;
    }
    100% {
      left: 40%;
      top: 35%;
    }
  }
  
  .custom-move-1 {
    animation: custom 4s infinite alternate linear;
    position: absolute; /* Required for left/top positioning */
  }
  


  
  

  



/* From Uiverse.io by AKAspidey01 */ 
.checkboxtoggler {
  width: 3em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  cursor: pointer;
}

.line-1 {
  background: white;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

.line-2 {
  background: white;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

.line-3 {
  background: white;
  height: 0.3em;
  border-radius: 10em;
  transition-duration: 500ms;
}

#toggleChecker {
  height: 3em;
  width: 100%;
  display: none;
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-1 {
  -webkit-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  -ms-transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
  transform: rotate(45deg) translateY(0.7em) translateX(0.7em);
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-2 {
  -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  transform: rotate(-45deg) translateY(0em) translateX(0.1em);
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-3 {
  transform: scaleX(0);
  transform-origin: left;
}




  /* From Uiverse.io by zanina-yassine */ 
/* Remove this container when use*/
.component-title {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #888;
  text-align: center;
}

.tab-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 7px;
  background-color: #171717;
  border-radius: 9px;
}

.indicator {
  content: "";
  width: 130px;
  height: 38px;
  background: rgb(170,4,173);
  background: linear-gradient(90deg, rgba(170,4,173,1) 28%, rgba(65,8,126,1) 70%);
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 9;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  transition: all 0.2s ease-out;
}

.tab {
  width: 130px;
  height: 28px;
  position: absolute;
  z-index: 99;
  outline: none;
  opacity: 0;
}

.tab_label {
  width: 130px;
  height: 28px;
color: white;
  position: relative;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;

  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.tab--1:checked ~ .indicator {
  left: 2px;
}

.tab--2:checked ~ .indicator {
  left: calc(130px + 2px);
}

.tab--3:checked ~ .indicator {
  left: calc(130px * 2 + 2px);
}
/* From Uiverse.io by eslam-hany */ 
.card-2 {
  position: relative;
  width: 365px;
  height: 270px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  
}

.card-2::before,
.card-2::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #AA04AD;
  z-index: 1;
  transition: all 0.5s;
}

.card-2::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card-2::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card-2:hover::before,
.card-2:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card-2:hover:after {
  content: "🚖 Led manual and automated testing for Jeeny’s ride-hailing and delivery platforms, ensuring stability across Android, iOS, and web.";
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: white;
}

.card-3 {
  position: relative;
  width: 365px;
  height: 270px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  
}

.card-3::before,
.card-3::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #43097F;
  z-index: 1;
  transition: all 0.5s;
}

.card-3::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card-3::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card-3:hover::before,
.card-3:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card-3:hover:after {
  content: "🚀 Promoted to Software QA Engineer within a year, leading manual and API testing for digital banking solutions.";
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: white;
}

.card-1 {
  position: relative;
  width: 365px;
  height: 270px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  
}

.card-1::before,
.card-1::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: lightgreen;
  z-index: 1;
  transition: all 0.5s;
}

.card-1::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card-1::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100%  0 15px;
}

.card-1:hover::before,
.card-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.card-1:hover:after {
  content: "💴 Led QA for financial modules, ensuring compliance and 99% transaction accuracy.  Improved test efficiency by 25% with automation, reducing defects by 30%.";
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: white;
}










/* From Uiverse.io by Admin12121 */ 
.body {
  --radius: 10px;
  --border: 4px;
  --height: 48px;
  --speed: 0.25s;
  display: grid;
  place-items: center;
  align-content: center;
}

.tabs {
  height: var(--height);
  display: grid;
  grid-auto-flow: column;
  background: #171717;
  border-radius: var(--radius);
  grid-auto-columns: 1fr;
  position: relative;
  margin-bottom: 10px;
}

.tabs {
  --ease: linear(
    0,
    0.1641 3.52%,
    0.311 7.18%,
    0.4413 10.99%,
    0.5553 14.96%,
    0.6539 19.12%,
    0.738 23.5%,
    0.8086 28.15%,
    0.8662 33.12%,
    0.9078 37.92%,
    0.9405 43.12%,
    0.965 48.84%,
    0.9821 55.28%,
    0.992 61.97%,
    0.9976 70.09%,
    1
  );
}

.tabs > .input,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.tabs:has(:checked:nth-of-type(1)) {
  --active: 0;
}
.tabs:has(:checked:nth-of-type(2)) {
  --active: 1;
}
.tabs:has(:checked:nth-of-type(3)) {
  --active: 2;
}
.tabs:has(:checked:nth-of-type(4)) {
  --active: 3;
}

.tabs :checked + .label {
  --highlight: 1;
}

.tabs:has(.input:nth-of-type(2)) {
  --count: 2;
}
.tabs:has(.input:nth-of-type(3)) {
  --count: 3;
}
.tabs:has(.input:nth-of-type(4)) {
  --count: 4;
}

.tabs .label {
  padding: 0 clamp(10px, 10px + 10px, 20px);
  cursor: pointer;
  text-align: center;
  height: 100%;
  display: grid;
  border-radius: calc(var(--radius) - var(--border));
  place-items: center;
  color: white;
  transition: background, color;
  transition-duration: 0.25s;
  transition-timing-function: var(--ease, ease);
}

.input:not(:checked) + .label:hover {
  --highlight: 0.35;
  background: rgba(170, 4, 173, 0.208);
}

.tabs::after {
  pointer-events: none;
  content: "";
  width: calc(100% / var(--count));
  height: 100%;
  background: rgb(170,4,173);
background: linear-gradient(90deg, rgba(170,4,173,1) 28%, rgba(65,8,126,1) 70%);
  position: absolute;
  border-radius: calc(var(--radius) - var(--border));
  mix-blend-mode: difference;
  translate: calc(var(--active, 0) * 100%) 0;
  transition: translate, outline-color;
  transition-duration: var(--speed);
  transition-timing-function: var(--ease, ease);
  outline: 2px solid transparent;
}

.tabs:has(:focus-visible)::after {
  outline-color: red;
}
